.primary-btn {
  min-width: 150px;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  box-shadow: none !important;
  color: black !important;
  background-color: rgb(252, 213, 53) !important;
  border: none;
  &:hover {
    background-color: rgb(227, 193, 49) !important;
  }
  &.clr-transp {
    background-color: transparent !important;
    color: #3559fc !important;
    border: 1px solid #3559fc;
  }
  &.clr-blue {
    background-color: #3559fc !important;
    color: #fff !important;
  }
}

.input-wrapper {
  margin-bottom: 1.25rem;
  position: relative;
  i {
    position: absolute;
    top: 55%;
    right: 15px;
    cursor: pointer;
    color: grey;
  }
  span {
    position: absolute;
    color: red;
  }
}

.text-input {
  padding: 0.5rem;
  border: 1px solid transparent;
  width: 100%;
  border-radius: 6px;
  font-size: 1rem;
  font-family: Dongle, sans-serif;
  background-color: #eff2f5;
  box-shadow: none !important;

  &.error {
    border: 1px solid red !important;
  }
}

.loader {
  // position: absolute;
  // top: 40%;
  // left: 45%;
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  color: #19233c;
  position: absolute;
  top: 45%;
  left: 50%;
}

.dotOne {
  animation: visibilityOne 2s linear infinite;
}
@keyframes visibilityOne {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dotTwo {
  animation: visibilityTwo 2s linear infinite;
}
@keyframes visibilityTwo {
  0% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dotThree {
  animation: visibilityThree 2s linear infinite;
}
@keyframes visibilityThree {
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  44% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
